* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 20px;
    width: 25%;
}

/* Clear floats after the columns */
/* 밑에 뭐가 오든 클리어보스해주려는 목적인 듯.. */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}